/* CSS declarations go here */

body {
    font-family: 'Droid Sans', sans-serif;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.square {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.wall {
    text-align: center;
}

#color-picker {
    display: inline-block;
}

.picker-container {
    text-align: center;
}